.wrap {
  max-width: 1110px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 10px;
}

#main-outlet-wrapper {
  margin-top: 50px;
  box-sizing: border-box;
  width: 100%;
  display: grid;
  grid-template-areas: "sidebar content";
  grid-template-columns: 0 minmax(0, 1fr);
  gap: 0;
}

#main-outlet-wrapper #main-outlet {
  grid-area: content;
}

#main-outlet {
  min-height: 75vh;
  padding-top: 1.5em;
}

.user-main {
  margin-bottom: 100px;
}

.user-main .about {
  width: 100%;
  margin-bottom: 15px;
}

.user-main .about .details {
  background: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid #e9e9e9;
}

.user-main .about .details .primary {
  width: 100%;
  position: relative;
}

.user-main .about .details .user-profile-avatar {
  position: relative;
  float: left;
}

.user-main .about .details img.avatar {
  margin: 0 20px 10px 0;
  float: left;
}

img.avatar {
  border-radius: 50%;
}

.user-main .about .controls {
  padding: 0 0 12px 0;
  float: right;
  max-width: 13.5em;
}

.user-main .about .controls ul {
  list-style-type: none;
  margin-top: 0;
}

.user-main .about .controls li {
  margin-bottom: 0.5em;
}

.user-main .about .controls li > .select-kit-header,
.user-main .about .controls .btn {
  min-width: 5em;
  width: 100%;
}

.user-main .about .details .primary .primary-textual {
  padding: 0 4px 4px;
}

.user-main .about .details .primary .primary-textual h1 {
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.user-main .about .details h1 {
  font-size: 1.75em;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.user-main .about .details .primary h1 {
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: Manrope;
  font-weight: 800;
}

.user-main .about .details h2 {
  font-size: 1.3em;
  font-weight: normal;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.user-main .about .details .secondary {
  margin-top: 16px;
}

.user-main .about .secondary {
  display: inline-block;
  width: 100%;
  border-top: 1px solid #e9e9e9;
}

.user-main .about .secondary dl {
  margin: 0;
  padding: 5px 10px;
}

.user-main .about .secondary dl div {
  display: inline-flex;
  align-items: baseline;
  margin-right: 15px;
  margin: 4px 0;
}

.user-main .about .secondary dt,
.user-main .about .secondary dd {
  display: inline-flex;
  align-items: center;
}

.user-main .about .secondary dt {
  color: gray;
  margin-right: 5px;
  display: inline-block;
}

.user-main .about .secondary dd {
  padding: 0;
  margin: 0 15px 0 0;
  color: #222;
}
