.d-forum {
    display: flex;
    flex-wrap: wrap;
    background: #fff;
    margin-top: 70px;
    margin-bottom: 20px;
  }
  
.d-forum .wrap {
    box-sizing: border-box;
    max-width: 1110px;
    margin-right: auto;
    margin-left: auto;
    position: flex;
}

.forum-panel {
    width: 1110px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
  }

.d-forum .forum-panel .leftButtons {
    width: 100%;
    display: flex;
    margin-left: auto;
    justify-content: flex-start;
}

.d-forum .forum-panel .rightButtons {
    width: 100%;
    display: flex;
    margin-left: auto;
    justify-content: flex-end;
}

.forum-panel .sections-button, .forum-panel .recent-button {
    background: #fff;
    color: #222;
    border: 1px solid #919191;
    font-size: 1em;
    transition: none;
    height: 100%;
    padding: 4px 10px;
}

.forum-panel .new-post-button {
    color: #222;
    background: #e9e9e9;
}

.d-forum .forum-panel .recent-button {
    margin-left: 7px;
}

table th {
    font-weight: normal;
    color: #919191;
    text-align: left;
    padding: 0.5em;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

.topic-list {
    margin: 0 0 10px;
    width: 100%;
    border-collapse: collapse;
}


.topic-list-item, tr {
    border-bottom: 1px solid#e9e9e9;
}

.topic-list .topic-list-data:first-of-type {
    padding-left: 10px;
}

.topic-list .topic-list-data {
    padding: 10px;
    font-size: 1em;
}

.topic-list .topic-list-data {
    line-height: 1.4;
    text-align: left;
    vertical-align: middle;
}

.topic-list .topic-list-data.posters {
    height: 29px;
}

.topic-list .default {
    width: 700px;
}

.topic-list .posters {
    width: 146px;
}

.topic-list .posts {
    width: 50px;
}

.topic-list .num {
    text-align: center;
}

.topic-list .topic-list-data:last-of-type {
    padding-right: 10px;
}

.topic-list .activity {
    width: 60px;
}

.topic-list .topic-list-data {
    padding: 12px 5px;
}

.topic-list .num {
    text-align: center;
}


