.outerOlympElem {
  padding-top: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 3rem;
  max-width: 60rem;
  min-height: 400px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.olympHeader {
  padding-bottom: 3rem;
}

.olympRealHeader {
  margin-bottom: 0.5rem;
}

.olympUnderHeader {
  --tw-text-opacity: 1;
  color: rgba(115, 115, 115, var(--tw-text-opacity));
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-top: 0;
}

.olymTextDelim {
  letter-spacing: 0.1em;
  text-transform: uppercase;
  opacity: 0.5;
  margin-bottom: 1.5rem;
  font-size: 0.75rem;
  line-height: 1rem;
}

.md\:grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.md\:gap-6 {
  gap: 1.5rem;
}

.grid {
  display: grid;
}

.text-blue-500 {
  --tw-text-opacity: 1;
  color: rgba(59, 130, 246, var(--tw-text-opacity));
}
