.main-outlet-wrapper {
  display: flex;
  flex-wrap: wrap;
  background: #fff;
  margin-top: 70px;
  margin-bottom: 20px;
}

.main-outlet-wrapper .wrap {
  box-sizing: border-box;
  max-width: 1110px;
  margin-right: auto;
  margin-left: auto;
  position: flex;
  height: 500px;
}

#topic-title {
  z-index: 1;
  margin-bottom: 1em;
}

#topic-title .title-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
}

#topic-title h1 {
  font-size: 1.55em;
  line-height: 1.2;
  overflow-wrap: break-word;
  width: 100%;
}

#topic-title h1 {
  margin-bottom: 0;
  width: 100%;
}

.badge-category-bg {
  background-color: #b13737;
}

.topic-avatar {
  margin-bottom: 104px;
}

.container.posts {
  display: grid;
  grid-template-areas: "posts timeline";
  grid-template-columns: auto auto;
  margin-bottom: var(--below-topic-margin);
}

.container.posts {
  grid-template-areas: "posts";
  grid-template-columns: auto;
}

.container.posts > .row {
  grid-area: posts;
  max-width: calc(100vw - 20px);
  min-width: 0;
}

.onscreen-post .row {
  display: flex;
}

.posts-wrapper {
  position: relative;
  -webkit-font-smoothing: subpixel-antialiased;
  margin-bottom: 100px;
}

.topic-list-item td:first-child,
.topic-post {
  border-left: 1px solid transparent;
}

.topic-post article.boxed {
  position: relative;
}

.topic-avatar {
  width: 45px;
}

.topic-avatar {
  border-top: 1px solid #e9e9e9;
  padding-top: 15px;
  width: 45px;
  float: left;
  z-index: 2;
  height: 100%;
}

.post-avatar,
.topic-avatar,
.user-card-avatar {
  position: relative;
}

.topic-body {
  width: 712px;
  float: left;
  min-width: 0;
  position: relative;
  border-top: 1px solid #e9e9e9;
  padding: 12px 0 0 0;
}

.topic-body {
  box-sizing: border-box;
  width: calc(100% - 47px);
}
.topic-meta-data {
  display: flex;
  align-items: flex-start;
}

.topic-body .topic-meta-data {
  padding: 0 11px 0.25em 11px;
}

.topic-meta-data {
  align-items: center;
}

.names {
  flex: 1 1 auto;
  overflow: hidden;
}

.topic-meta-data .names {
  margin-right: auto;
}

.topic-meta-data .names {
  display: flex;
  align-items: center;
}

.names span.first {
  display: flex;
  align-items: baseline;
  font-weight: bold;
}

.names span {
  font-size: 1em;
  margin-right: 8px;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: middle;
}

.names span a {
  color: #646464;
}

.wrap .contents {
  position: relative;
}

.topic-body .cooked {
  padding: 1em 11px 0.25em 11px;
  overflow: hidden;
}

.cooked,
.d-editor-preview {
  word-wrap: break-word;
  line-height: 1.4;
}

.post-menu-area {
  margin: 20px 0;
}

section.post-menu-area {
  position: relative;
  padding-left: var(11px);
}

nav.post-controls .actions button {
  flex: 0 1 auto;
  font-size: 1em;
  padding: 8px 10px;
  vertical-align: top;
  background: transparent;
  border: none;
}

nav.post-controls {
  --control-margin: 0.33em;
  --control-icon-space: 0.33em;
}

nav.post-controls {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #bdbdbd;
}

nav.post-controls .actions {
  display: inline-flex;
  text-align: right;
  margin-left: auto;
}

.discourse-touch .topic-body .actions .fade-out {
  opacity: 1;
}

nav.post-controls .actions button.reply {
  margin-left: calc(0.33em * 1.52);
}

nav.post-controls .actions button.reply {
  margin-right: 0;
  color: #fff;
  background-color: #08c;
}

nav.post-controls .actions button {
  display: inline-flex;
  align-items: center;
}

.topic-body:hover .actions .fade-out,
.topic-body .selected .actions .fade-out {
  opacity: 1;
}

.btn-flat {
  background: transparent;
  border: 0;
  line-height: 1;
  transition: color 0.25s, background 0.25s;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
}

.group-up-quarks {
  padding-left: 50px;
}

