.d-header {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 4px -1px rgb(0 0 0 / 25%);
  z-index: 1000;
  backface-visibility: hidden;
  position: fixed;
  top: 0;
}

.d-header .wrap {
  width: 1110px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 10px;
  display: flex;
}

.d-header .menuref {
  height: 25px;
  width: 40px;
  background-image: url(menu-icon.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 7px;
  margin-right: 5px;
}

.d-header .title {
  display: flex;
  flex: 0 0 auto;
  position: relative;
  align-items: center;
}

.d-header .d-navbar {
  width: 100%; 
  display: flex;
  margin-left: auto;
  justify-content: flex-end;
}

.d-header #site-logo {
  height: 2.667em;
}