.d-footer {
  display: flex;
  flex-wrap: wrap;
  background: #222;
}

.d-footer .wrap {
  box-sizing: border-box;
  width: 1110px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 10px;
}

.d-footer .flexbox {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  color: #fff;
  padding: 2em 0 1em 0;
}

.d-footer .first-box .heading {
  font-size: 1.3195em;
  font-weight: bold;
  margin-bottom: 0.5em;
  display: block;
}

.d-footer .first-box {
  max-width: 100%;
  border-bottom: 1px solid rgba(232.9, 232.9, 232.9, 0.05);
  margin-bottom: 1em;
  padding-bottom: 1em;
}

.d-footer .first-box,
.d-footer .second-box,
.d-footer .third-box {
  flex: 1 1 100%;
}

.d-footer .first-box .blurb {
  display: flex;
  align-items: center;
  color: #a6a6a6;
}

.d-footer .second-box .links {
  justify-content: space-between;
}

.d-footer .second-box .links {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.d-footer .list {
  margin-left: 10px;
  margin-top: 1em;
}

.d-footer .list span {
  font-weight: bold;
}

.d-footer .second-box .links ul {
  list-style: none;
  margin: 0;
  min-width: 100px;
  padding-inline-start: 0px;
}

li {
  text-align: -webkit-match-parent;
}

.d-footer .second-box .links li {
  margin: 0.5em 0;
}

.d-footer .footer-section-link-wrapper a {
  color: #a6a6a6;
}

.d-footer .third-box {
  margin-top: 0.5em;
}

.d-footer .third-box {
  width: 100%;
  display: flex;
  align-items: center;
  border-top: 1px solid rgba(232.9, 232.9, 232.9, 0.05);
}

.d-footer .footer-links {
  flex: 1;
}

.d-footer .third-box .small-link {
  color: #a6a6a6;
  margin: 0 0.25em;
  font-size: 0.7579em;
}

.d-footer .third-box .social {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}

.d-footer .third-box .social .social-link {
  margin: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
